.ftco-navbar-light,
.hero-wrap,
.ftco-section {
    direction: rtl;
}

.ml-auto,
.mx-auto {
    margin-right: auto !important;
}

.subheading,
.slider-text h1 {
    text-align: right;
}

.pagination {
    display: block;
}

.rozee {
    color: #fff;
    background: #f343f3;
    font-weight: bold;
    float: right;
}
.ftco-footer-widget {
    text-align: right;
}
.ftco-footer .ftco-footer-widget ul li a span {
    margin: 0px 5px;
}
.block-21 .text .heading {
    margin: 0 15px;
}
label {
    float: right;
}